body {
    background-color:grey
}

#wrapper {
    width: 960px;
    margin: 1em auto;
    padding: 0;
    display: grid;
    border: 5px solid darkblue;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
}

header {
    background-image: linear-gradient(blue, darkblue);
    border-bottom: 5px solid darkblue;
    font-weight: bold;
    text-align: left;
    grid-column: span 12;
    grid-row: span 1;


}

header a {
    color:rgb(77, 179, 210);
    padding-left: 30px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
}

nav {
   
    padding: 0;

    grid-column: span 12;
    grid-row: span 1;
    border-bottom: 3px solid darkblue;
    background-image: linear-gradient(blue, darkblue);




}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
    display: inline;  
      overflow: auto;
 
}

nav ul li a {
    float: left;
    width: 21%;
    text-align: center;
    padding: 13px;
    color: lightskyblue;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-right: 5px solid darkblue;
    padding-left: 20px;

}

nav ul li a:hover {
    background-color: blue;
    color: white;
}

#currentPage {
    color:white;
}
#leftmain {
    grid-column: span 4;
    grid-row: span 1;
    background-color: lightblue;
    padding: 3px 15px 15px 15px;
}

#rightmain {
    grid-column: span 8;
    grid-row: span 1;
    background-color: white;
    padding: 3px 15px 15px 15px;

}

#leftmainAbout {
    grid-column: span 8;
    grid-row: span 1;
    background-color: white;
    padding: 3px 15px 15px 15px;

}

#rightmainAbout {
    grid-column: span 4;
    grid-row: span 1;
    background-color: lightblue;
    padding: 15px 15px 15px 15px;
}

#gallery1 {
    grid-column: span 4;
    grid-row: span 1;
    background-color: white;
    padding: 3px 15px 15px 15px;

}

#gallery2 {
    grid-column: span 4;
    grid-row: span 1;
    background-color: white;
    padding: 3px 15px 15px 15px;

}

#gallery3 {
    grid-column: span 4;
    grid-row: span 1;
    background-color: white;
    padding: 3px 15px 15px 15px;

}
h2 {
    font-family: Helvetica, Georgia, sans-serif;
    font-weight: bold;
    color: darkblue;
    border-bottom: 0.1em solid darkblue;
    



}

p {
    font-family: Georgia, Times, serif, Helvetica, sans-serif;
    font-weight: bold;

}

a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

#p_justify {
    text-align: justify;
    text-justify: inter-word;
}

#img_TheBeef {
    float: left;
    border: 3px solid darkblue;
    margin: 10px;

}

#img_TheBear {
    float: right;
    border: 3px solid darkblue;
    margin: 5px;

}

#img_Carmy {
    max-width: 100%;
    margin: 5px;

}

#img_Sydney {
    max-width: 100%;
    margin: 5px;

}

#img_Richie {
    max-width: 100%;
    margin: 5px;

}
footer {
        border-top: 5px solid darkblue;
        padding: 10px;
        grid-column: span 12;
        grid-row: span 1;
        background-color: red;
   
}